@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>



<div>

    @for(var i = 0;i < 10;i++)
    {

        if(true)
        {
        <text>
        <table>

            <tbody>
        </text>
        }





            </tbody>

        </table>
    }

    </div>
