<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!--<cacheManager xmlns="http://tempuri.org/CacheManagerCfg.xsd">
    <cacheManager.redis>
      <connections>
        <connection id="redis1" database="0" connnectionString="redis0:6379,keepAlive=180,allowAdmin=true" >
          <endpoints>
            <endpoint host="127.0.0.1" port="6379" />
          </endpoints>
        </connection>
      </connections>
    </cacheManager.redis>
  </cacheManager>-->

</configuration>