<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.6.1" targetFramework="net45" />
  <package id="CacheManager.StackExchange.Redis" version="0.6.1" targetFramework="net45" />
  <package id="CacheManager.SystemRuntimeCaching" version="0.6.1" targetFramework="net45" />
  <package id="CacheManager.Web" version="0.6.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net45" />
</packages>