<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserInfoMapper">

    <insert id="insertnew" parameterType="com.example.model.UserInfo">
      INSERT INTO userinfo (username,password,usertype,enabled,qq,email,tel,gender)
       VALUES (#{username},#{password},#{usertype},#{enabled},#{qq},#{email},#{tel},#{gender})
    </insert>
</mapper>